<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>PROPOSALS_STATE_CONTRACT_ADDRESS</key>
	<string>${PROPOSALS_STATE_CONTRACT_ADDRESS}</string>
	<key>MULTICALL3_CONTRACT_ADDRESS</key>
	<string>${MULTICALL3_CONTRACT_ADDRESS}</string>
	<key>APPSFLYER_DEV_KEY</key>
	<string>${APPSFLYER_DEV_KEY}</string>
	<key>APPSFLYER_APP_ID</key>
	<string>${APPSFLYER_APP_ID}</string>
	<key>FREEDOM_TOOL_WEBSITE_URL</key>
	<string>${FREEDOM_TOOL_WEBSITE_URL}</string>
	<key>FREEDOM_TOOL_API_URL</key>
	<string>${FREEDOM_TOOL_API_URL}</string>
	<key>FREEDOM_TOOL_IPFS_NODE_URL</key>
	<string>${FREEDOM_TOOL_IPFS_NODE_URL}</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CERTIFICATES_SMT_CONTRACT_ADDRESS</key>
	<string>${CERTIFICATES_SMT_CONTRACT_ADDRESS}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>GreenIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GreenIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GradientIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GradientIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WhiteIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WhiteIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CatIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CatIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BlackIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Rarilabs.RariMe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rarime</string>
			</array>
		</dict>
	</array>
	<key>EVM_RPC_URL</key>
	<string>${EVM_RPC_URL}</string>
	<key>FREEDOM_TOOL_RPC_URL</key>
	<string>${FREEDOM_TOOL_RPC_URL}</string>
	<key>FEEDBACK_EMAIL</key>
	<string>${FEEDBACK_EMAIL}</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GENERAL_NOTIFICATION_TOPIC</key>
	<string>${GENERAL_NOTIFICATION_TOPIC}</string>
	<key>JOIN_REWARDS_KEY</key>
	<string>${JOIN_REWARDS_KEY}</string>
	<key>DEFAULT_REFERRAL_CODE</key>
	<string>${DEFAULT_REFERRAL_CODE}</string>
	<key>APP_API_URL</key>
	<string>${APP_API_URL}</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>${PRIVACY_POLICY_URL}</string>
	<key>WEB_APP_URL</key>
	<string>${WEB_APP_URL}</string>
	<key>REGISTRATION2_CONTRACT_ADDRESS</key>
	<string>${REGISTRATION2_CONTRACT_ADDRESS}</string>
	<key>REGISTRATION_SMT_CONTRACT_ADDRESS</key>
	<string>${REGISTRATION_SMT_CONTRACT_ADDRESS}</string>
	<key>RELAYER_URL</key>
	<string>${RELAYER_URL}</string>
	<key>STATE_KEEPER_CONTRACT_ADDRESS</key>
	<string>${STATE_KEEPER_CONTRACT_ADDRESS}</string>
	<key>TERMS_OF_USE_URL</key>
	<string>${TERMS_OF_USE_URL}</string>
	<key>CLAIMABLE_NOTIFICATION_TOPIC</key>
	<string>${CLAIMABLE_NOTIFICATION_TOPIC}</string>
	<key>LIGHT_SIGNATURE_PRIVATE_KEY</key>
	<string>${LIGHT_SIGNATURE_PRIVATE_KEY}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Playfair-Bold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>E80704007F00070302</string>
		<string>A000000167455349474E</string>
		<string>A0000002480100</string>
		<string>A0000002480200</string>
		<string>A0000002480300</string>
		<string>A00000045645444C2D3031</string>
	</array>
	<key>REGISTRATION_SIMPLE_CONTRACT_ADRRESS</key>
	<string>${REGISTRATION_SIMPLE_CONTRACT_ADRRESS}</string>
	<key>VOTING_REGISTRATION_SMT_CONTRACT_ADDRESS</key>
	<string>${VOTING_REGISTRATION_SMT_CONTRACT_ADDRESS}</string>
	<key>FACE_REGISTRY_CONTRACT_ADDRESS</key>
	<string>${FACE_REGISTRY_CONTRACT_ADDRESS}</string>
	<key>GUESS_CELEBRITY_CONTRACT_ADDRESS</key>
	<string>${GUESS_CELEBRITY_CONTRACT_ADDRESS}</string>
	<key>EVM_CHAIN_ID</key>
	<string>${EVM_CHAIN_ID}</string>
	<key>EVM_SCAN_API_URL</key>
	<string>${EVM_SCAN_API_URL}</string>
	<key>EVM_SCAN_URL</key>
	<string>${EVM_SCAN_URL}</string>
</dict>
</plist>
