<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIRDROP_TERMS_URL</key>
	<string>${AIRDROP_TERMS_URL}</string>
	<key>APPSFLYER_DEV_KEY</key>
	<string>${APPSFLYER_DEV_KEY}</string>
	<key>APPSFLYER_APP_ID</key>
	<string>${APPSFLYER_APP_ID}</string>
	<key>AUTHORIZE_URL</key>
	<string>${AUTHORIZE_URL}</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CERTIFICATES_SMT_CONTRACT_ADDRESS</key>
	<string>${CERTIFICATES_SMT_CONTRACT_ADDRESS}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlackAndGreenIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackAndGreenIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GreenAndBlackIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GreenAndBlackIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BlackAndWhiteIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Rarilabs.RariMe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rarime</string>
			</array>
		</dict>
	</array>
	<key>CHAIN_ID</key>
	<string>${CHAIN_ID}</string>
	<key>CIRCUIT_DATA_URLS</key>
	<dict>
		<key>registerIdentity_1_256_3_5_576_248_NA</key>
		<string>${CIRCUIT_DATA_URL_0}</string>
		<key>registerIdentity_1_256_3_6_576_248_1_2432_5_296</key>
		<string>${CIRCUIT_DATA_URL_1}</string>
		<key>registerIdentity_2_256_3_6_336_264_21_2448_6_2008</key>
		<string>${CIRCUIT_DATA_URL_2}</string>
		<key>registerIdentity_21_256_3_7_336_264_21_3072_6_2008</key>
		<string>${CIRCUIT_DATA_URL_3}</string>
		<key>registerIdentity_1_256_3_6_576_264_1_2448_3_256</key>
		<string>${CIRCUIT_DATA_URL_4}</string>
		<key>registerIdentity_2_256_3_6_336_248_1_2432_3_256</key>
		<string>${CIRCUIT_DATA_URL_5}</string>
		<key>registerIdentity_2_256_3_6_576_248_1_2432_3_256</key>
		<string>${CIRCUIT_DATA_URL_6}</string>
		<key>registerIdentity_11_256_3_3_576_248_1_1184_5_264</key>
		<string>${CIRCUIT_DATA_URL_7}</string>
		<key>registerIdentity_12_256_3_3_336_232_NA</key>
		<string>${CIRCUIT_DATA_URL_8}</string>
		<key>registerIdentity_1_256_3_4_336_232_1_1480_5_296</key>
		<string>${CIRCUIT_DATA_URL_9}</string>
		<key>registerIdentity_1_256_3_4_600_248_1_1496_3_256</key>
		<string>${CIRCUIT_DATA_URL_10}</string>
	</dict>
	<key>COSMOS_RPC_URL</key>
	<string>${COSMOS_RPC_URL}</string>
	<key>DENOM</key>
	<string>${DENOM}</string>
	<key>EVM_RPC_URL</key>
	<string>${EVM_RPC_URL}</string>
	<key>FEEDBACK_EMAIL</key>
	<string>${FEEDBACK_EMAIL}</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GENERAL_NOTIFICATION_TOPIC</key>
	<string>${GENERAL_NOTIFICATION_TOPIC}</string>
	<key>ICAO_COSMOS_RPC</key>
	<string>${ICAO_COSMOS_RPC}</string>
	<key>JOIN_REWARDS_KEY</key>
	<string>${JOIN_REWARDS_KEY}</string>
	<key>MASTER_CERTIFICATES_BUCKETNAME</key>
	<string>${MASTER_CERTIFICATES_BUCKETNAME}</string>
	<key>MASTER_CERTIFICATES_FILENAME</key>
	<string>${MASTER_CERTIFICATES_FILENAME}</string>
	<key>POINTS_SERVICE_URL</key>
	<string>${POINTS_SERVICE_URL}</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>${PRIVACY_POLICY_URL}</string>
	<key>REFERRAL_URL</key>
	<string>${REFERRAL_URL}</string>
	<key>REGISTER_CONTRACT_ADDRESS</key>
	<string>${REGISTER_CONTRACT_ADDRESS}</string>
	<key>REGISTER_IDENTITY_CIRCUIT_DATA_URLS</key>
	<array>
		<string>${REGISTER_IDENTITY_CIRCUIT_DATA_URL_0}</string>
		<string>${REGISTER_IDENTITY_CIRCUIT_DATA_URL_1}</string>
	</array>
	<key>REGISTRATION_SMT_CONTRACT_ADDRESS</key>
	<string>${REGISTRATION_SMT_CONTRACT_ADDRESS}</string>
	<key>RELAYER_URL</key>
	<string>${RELAYER_URL}</string>
	<key>RPC_IP</key>
	<string>${RPC_IP}</string>
	<key>STATE_KEEPER_CONTRACT_ADDRESS</key>
	<string>${STATE_KEEPER_CONTRACT_ADDRESS}</string>
	<key>TERMS_OF_USE_URL</key>
	<string>${TERMS_OF_USE_URL}</string>
	<key>CLAIMABLE_NOTIFICATION_TOPIC</key>
	<string>${CLAIMABLE_NOTIFICATION_TOPIC}</string>
	<key>LIGHT_SIGNATURE_PRIVATE_KEY</key>
	<string>${LIGHT_SIGNATURE_PRIVATE_KEY}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>E80704007F00070302</string>
		<string>A000000167455349474E</string>
		<string>A0000002480100</string>
		<string>A0000002480200</string>
		<string>A0000002480300</string>
		<string>A00000045645444C2D3031</string>
	</array>
</dict>
</plist>
