// MARK: General
SLASH=/

// MARK: Intro
PRIVACY_POLICY_URL = "https:${SLASH}/staging.rarimo.com"
TERMS_OF_USE_URL = "https:${SLASH}/staging.rarimo.com"

// Mark: CircuitData
REGISTER_IDENTITY_CIRCUIT_DATA_URL_0 = "https:${SLASH}/github.com/rarimo/rarime-circuit-data/releases/download/v0.0.1/registerIdentity2688.zip"
REGISTER_IDENTITY_CIRCUIT_DATA_URL_1 = "https:${SLASH}/github.com/rarimo/rarime-circuit-data/releases/download/v0.0.1/registerIdentity2704.zip"

// Mark: API
RELAYER_URL = "https:${SLASH}/api.orgs.app.stage.rarime.com"
EVM_RPC_URL = "https:${SLASH}/rpc.evm.node1.mainnet-beta.rarimo.com"
REGISTER_CONTRACT_ADDRESS = "0xB5A0239a150A44376d29bE3B1F06dB835Bc19594"
COSMOS_RPC_URL = "https:${SLASH}/rpc-api.node1.mainnet-beta.rarimo.com"

// Mark: Cosmos
CHAIN_ID = "rarimo_42-1"
DENOM = "stake"
RPC_IP = "104.196.227.66:9090"
