// MARK: Utils
SLASH=/

// MARK: General
FEEDBACK_EMAIL="info@rarilabs.com"
DEFAULT_REFERRAL_CODE="kPRQYQUcWzW"
WEB_APP_URL="https:${SLASH}/app.stage.rarime.com"
TERMS_OF_USE_URL="https:${SLASH}/staging.rarime.com/general-terms.html"
PRIVACY_POLICY_URL="https:${SLASH}/staging.rarime.com/privacy-notice.html"
APP_API_URL="https:${SLASH}/api.orgs.app.stage.rarime.com"

// MARK: Notifications
GENERAL_NOTIFICATION_TOPIC="rarime-stage"
CLAIMABLE_NOTIFICATION_TOPIC="rarime-rewardable-stage"

// MARK: Contracts
REGISTRATION2_CONTRACT_ADDRESS="0x70aadcdb5624dC458c22D47f6c458d1D5cE1768C"
REGISTRATION_SIMPLE_CONTRACT_ADRRESS="0x7815E9d49Ce74ca1c56a7276CE7DCA61d4f9878d"
CERTIFICATES_SMT_CONTRACT_ADDRESS="0x3DA489Eca2E8BC19cF8E5a9B60a7BE87f8D54fc0"
REGISTRATION_SMT_CONTRACT_ADDRESS="0x550B483129807BA148482152dEb3ac7a85e53cfe"
STATE_KEEPER_CONTRACT_ADDRESS="0x1021fC4e4693D729b69939A2066d16dF120B7F38"
MULTICALL3_CONTRACT_ADDRESS="0xcA11bde05977b3631167028862bE2a173976CA11"
VOTING_REGISTRATION_SMT_CONTRACT_ADDRESS="0xFbae44a113A6f07687b180605f425e43066a6179"
PROPOSALS_STATE_CONTRACT_ADDRESS="0x4C61d7454653720DAb9e26Ca25dc7B8a5cf7065b"
FACE_REGISTRY_CONTRACT_ADDRESS="0x3C0f27AC1817820C1BA41337B53090652aE4F448"
GUESS_CELEBRITY_CONTRACT_ADDRESS="0x411AA3eF21AdC9e84c60e17451B0732119C8f0c7"

// MARK: EVM
EVM_RPC_URL="https:${SLASH}/rpc.evm.mainnet.rarimo.com"
EVM_CHAIN_ID="201411"
EVM_SCAN_URL="https:${SLASH}/evmscan.rarimo.com"
EVM_SCAN_API_URL="https:${SLASH}/api.evmscan.rarimo.com"

// MARK: Freedom Tool
FREEDOM_TOOL_RPC_URL="https:${SLASH}/rpc.qtestnet.org"
FREEDOM_TOOL_IPFS_NODE_URL="https:${SLASH}/ipfs.rarimo.com"
FREEDOM_TOOL_WEBSITE_URL="https:${SLASH}/stage.voting.freedomtool.org"
FREEDOM_TOOL_API_URL="https:${SLASH}/api.stage.freedomtool.org"

// MARK: AppsFlyer
APPSFLYER_DEV_KEY="FsxpXXrjsFBLiF6jMe7jZY"
APPSFLYER_APP_ID="id6503300598"

// MARK: Secrets
JOIN_REWARDS_KEY="15690e4461abffc8a0057282af199b7345fa492d28ec1ae60049459389752e3ee714947cc64edcde3c5b25c10081a003d15a88cf137bcc97049da465781eff3c"
LIGHT_SIGNATURE_PRIVATE_KEY="86494b0b827f6c096e1b65cc1e738a0c6f0c492250db7257fc19c35b74b4f568"
