//
//  Production.xcconfig
//  Rarime
//
//  Created by Ivan Lele on 18.03.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: General
SLASH=/

// MARK: Intro
PRIVACY_POLICY_URL = "https:${SLASH}/example.com"
TERMS_OF_USE_URL = "https:${SLASH}/example.com"
