// MARK: Utils
SLASH=/

// MARK: General
FEEDBACK_EMAIL="info@rarilabs.com"
DEFAULT_REFERRAL_CODE="2OTDcOmy0Pe"
WEB_APP_URL="https:${SLASH}/app.rarime.com"
TERMS_OF_USE_URL="https:${SLASH}/rarime.com/general-terms.html"
PRIVACY_POLICY_URL="https:${SLASH}/rarime.com/privacy-notice.html"
APP_API_URL="https:${SLASH}/api.app.rarime.com"

// MARK: Notifications
GENERAL_NOTIFICATION_TOPIC="rarime"
CLAIMABLE_NOTIFICATION_TOPIC="rarime-rewardable"

// MARK: Contracts
REGISTRATION2_CONTRACT_ADDRESS="0x11BB4B14AA6e4b836580F3DBBa741dD89423B971"
REGISTRATION_SIMPLE_CONTRACT_ADRRESS="0x497D6957729d3a39D43843BD27E6cbD12310F273"
CERTIFICATES_SMT_CONTRACT_ADDRESS="0xA8b350d699632569D5351B20ffC1b31202AcEDD8"
REGISTRATION_SMT_CONTRACT_ADDRESS="0x479F84502Db545FA8d2275372E0582425204A879"
STATE_KEEPER_CONTRACT_ADDRESS="0x61aa5b68D811884dA4FEC2De4a7AA0464df166E1"
MULTICALL3_CONTRACT_ADDRESS="0xb4EE49BDf7cf199081b2a286B2B9B5f87AE930b1"
VOTING_REGISTRATION_SMT_CONTRACT_ADDRESS="0x479F84502Db545FA8d2275372E0582425204A879"
PROPOSALS_STATE_CONTRACT_ADDRESS="0x9C4b84a940C9D3140a1F40859b3d4367DC8d099a"
FACE_REGISTRY_CONTRACT_ADDRESS="0x15DCd57B70D97F1D1F220ccb4e6B8E886aF3e3B9"
GUESS_CELEBRITY_CONTRACT_ADDRESS="0x5283f7B6A011433A6631701875A6f147e5c17a96"

// MARK: EVM
EVM_RPC_URL="https:${SLASH}/l2.rarimo.com"
EVM_CHAIN_ID="7368"
EVM_SCAN_URL="https:${SLASH}/scan.rarimo.com"
EVM_SCAN_API_URL="https:${SLASH}/evmscan.l2.rarimo.com"

// MARK: Freedom Tool
FREEDOM_TOOL_RPC_URL="https:${SLASH}/l2.rarimo.com"
FREEDOM_TOOL_IPFS_NODE_URL="https:${SLASH}/ipfs.rarimo.com"
FREEDOM_TOOL_WEBSITE_URL="https:${SLASH}/freedomtool.org"
FREEDOM_TOOL_API_URL="https:${SLASH}/api.freedomtool.org"

// MARK: AppsFlyer
APPSFLYER_DEV_KEY="FsxpXXrjsFBLiF6jMe7jZY"
APPSFLYER_APP_ID="id6503300598"

// MARK: Secrets
JOIN_REWARDS_KEY=""
LIGHT_SIGNATURE_PRIVATE_KEY=""
