// MARK: General
SLASH=/
GENERAL_NOTIFICATION_TOPIC="rarime"
CLAIMABLE_NOTIFICATION_TOPIC = "rarime-rewardable"

// MARK: Intro
PRIVACY_POLICY_URL = "https:${SLASH}/rarime.com/privacy-notice.html"
TERMS_OF_USE_URL = "https:${SLASH}/rarime.com/general-terms.html"
AIRDROP_TERMS_URL = "https:${SLASH}/rarime.com/airdrop-terms.html"

// MARK: API
RELAYER_URL = "https:${SLASH}/api.app.rarime.com"
EVM_RPC_URL = "https:${SLASH}/rpc.evm.mainnet.rarimo.com"
REGISTER_CONTRACT_ADDRESS = "0xC0B09085Fa2ad3A8BbF96494B8d5cd10702FE20d"
CERTIFICATES_SMT_CONTRACT_ADDRESS = "0xcc54b12a18f2C575CA97991046090f43C3070aA0"
REGISTRATION_SMT_CONTRACT_ADDRESS = "0xA25a197d26Cad659A8fFf7F268cA4F9e0283de03"
STATE_KEEPER_CONTRACT_ADDRESS = "0x7d4E8Da1d10f8Db46C52414175d4003ab0Aef506"
COSMOS_RPC_URL = "https:${SLASH}/rpc-api.mainnet.rarimo.com"
POINTS_SERVICE_URL = "https:${SLASH}/api.app.rarime.com"
AUTHORIZE_URL = "https:${SLASH}/api.app.rarime.com"
REFERRAL_URL = "https:${SLASH}/app.rarime.com/r"
JOIN_REWARDS_KEY = "2eae8270526533789548dc738237100a5966acdb8b82012341463257d790e90e07ef79fcb157485cded2291fb36bdd2bc140a0af894b5defe505a938acc49e0f"
LIGHT_SIGNATURE_PRIVATE_KEY = "0ac7cbb4f162da4a1efcf5571bfedaefc5679c7780059e14658df8569c12b217"

// MARK: Cosmos
CHAIN_ID = "rarimo_201411-1"
DENOM = "urmo"
RPC_IP = "core-api.mainnet.rarimo.com:443"

// MARK: CertificatesStorage
MASTER_CERTIFICATES_BUCKETNAME = "rarimo-temp"
MASTER_CERTIFICATES_FILENAME = "icaopkd-list.ldif"
ICAO_COSMOS_RPC = "core-api.mainnet.rarimo.com:443"

// MARK: Feedback
FEEDBACK_EMAIL = "info@rarilabs.com"

// MARK: CircuitsData
CIRCUIT_DATA_URL_0 = "https:${SLASH}/storage.googleapis.com/rarimo-store/passport-zk-circuits/v0.1.0-alpha/registerIdentityUniversalRSA2048-download.zip"
CIRCUIT_DATA_URL_1 = "https:${SLASH}/storage.googleapis.com/rarimo-store/passport-zk-circuits/v0.1.0-alpha/registerIdentityUniversalRSA4096-download.zip"

// MARK: AppsFlyer
APPSFLYER_DEV_KEY = "FsxpXXrjsFBLiF6jMe7jZY"
APPSFLYER_APP_ID = "id6503300598"
